<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incorrect Details</title>
    <link rel="stylesheet" href="/static/css/inccorrect_password.css">
</head>
<body>
    <h1 style="color: aquamarine;
        font-family: 'Poltawski Nowy', serif;">Thank you for submitting your message. We appreciate you taking the time to reach out to us. Our team will review your message and get back to you as soon as possible. In the meantime, here's a summary of the information you provided: 
    <br>
    <br>
    <br>
</h1>
<h2 style="color:white;">{{summary}}</h2>
    
</body>
</html>