<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incorrect Details</title>
    <link rel="stylesheet" href="/static/css/inccorrect_password.css">
</head>
<body>
    <h1>Check your username or password again .</h1>
    <h2><a href="/sign-in">click here to try again</a></h2>
    <h2><a href="/sign-up">click here to create new account</a></h2>
</body>
</html>