:root {
  /* Variables */
  --orange: #ff7800;
  --black: #130f40;
  --grey: #666;
  --white: #ffff;
  --black: #0000;
  --tab_color_dark: rgb(210, 207, 202);
  --nav_background_dark: rgb(58, 11, 11, 0.3);
  --hover_color_dark: wheat;
  --site-name-color: #007bff;
}
@media screen and (min-width: 1000px) {

html {
  font-family: 'Poltawski Nowy', serif;
  background-color: rgb(6, 3, 3);
  color: cornsilk;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  /* height: ; */
}
  
.navbar-menu {
  margin-right: 0Px;
}
#menu-btn{
  display: none;
}
body {
  background-image: url("/static/images/bg.jpg");
  /* background-size: cover; */
  background-repeat: repeat;
  height: 100vh;
}
section{
  width: 100%;
  height: 100%;
  /* border: 2px solid white; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.con-1{
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 2px solid white; */
  width: 100%;
  height: 100%;
}
.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 2px solid white; */
}
.card-1 {
  background-color: aliceblue;
  margin: 13px;
  margin-top: 18px;
  border: 2px solid;
  border-radius: 20%;
  text-align: center;
  font-weight: bolder;
  display: flex;
  /* border: 5px solid #007bff; */
}
.card-2 {
  background-color: aliceblue;
  margin: 13px;
  margin-top: 18px;
  border: 2px solid;
  border-radius: 20%;
  text-align: center;
  font-weight: bolder;
  display: flex;
}
.card-1 img {
  width: 120px;
  height: 120px;
  /* border: 5px solid #007bff; */
}
#card-2 img {
  margin-top: 3px;
  margin-left: 20px;
  width: 90px;
  height: 90px;
  /* border: 5px solid #007bff; */
}
.card-text-dashboard{
  /* border: 5px solid #007bff; */
  display: flex;
  flex-direction: column;
}
.card-text-dashboard p{
  font-size: larger;
}
.card-container div{
  width: 400px;
  height: 120px;
  margin-left: -100px;
}
.card-first-element{
  margin-left: -120px;
  margin-top: 5px;
}
.card-second-element{
  margin-left: -20px;
  margin-top: -5px;
}
#card-2-second-element{
  margin-left: 10px;
}
#video-control-container{
  display: flex;
  flex-direction: column;
  margin-right: -120px;
}
#video_{
  width: 411px;
  height: 231px;
}
.video {
  color: aquamarine;
}
.video h3 {
  font-size: 50px;
  font-weight: 800;
}
.video h6 {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}
.yt-video {
  background: rgba(0, 0, 0, 0.8);
  border: 5px solid rgb(255, 0, 0);
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
}
.button-area {
  text-align: center;
  /* background: rgba(0, 0, 0, 0.7); */
  border-radius: 12px
}

.button-area p {
  color: aquamarine;
  font-weight: 800;
}
#watch{
  /* size: ; */
  margin-top: 20px;
  width: 110px;
  height: 55px;
}
#timer{
  font-size: large;
  margin-top: 10px;
}
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 
  background-color: rgba(0,0,0,0.6);
}

/* Popup content */
.popup-content {
  text-align: center;
  color: rgb(20, 223, 81);
  background-color: #1a1717;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.popup-content img{
width: 65px;
    height: 65px;
}
.popup-content button{
background-color: rgb(112, 230, 112);
font-weight: bolder;

}
footer {
  margin-top: 10vh;
  text-align: center;
  background-color: #17171f;
  color: #e5e1e1;
  width: 100vw;
  height: 10vh;
  padding: 10px;
}
}

@keyframes marginer {
  0% {
    margin-left: 11px;
  }

  25% {
    margin-left: 130px;
  }

  50% {
    margin-left: 11px;
  }

  75% {
    margin-left: 130px;
  }

  100% {
    margin-left: 130px;
  }
}
