@keyframes marginer{
    0%{margin-left:11px;}
    25%{ margin-left: 130px;  }
      50%{margin-left:11px;}
      75%{ margin-left: 130px;  }
  100%{margin-left: 130px;}
  }
  
@media screen and (max-width: 1000px) {
  
  #slogan{
    margin-top: 12px;
    margin-left: 11px;
  animation-name: marginer;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  
}

#nav-profile-icon{
  display: none;
}

  .navbar {
    /* background-color: #333; */
      color: #fff;
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }
    .navbar-brand{
      margin-top: 12px;
      margin-bottom:18px ;
    }
    .navbar-container {
      font-family: 'Poltawski Nowy', serif;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      width: 100%;
      transition: all;
      transition-duration: 3s;
      
    }
    
    .navbar-brand h2 {
  
      font-family: 'Bruno Ace', cursive;
      font-size: 38px;
      font-weight: bolder;
      text-decoration: none;
      color: #30a7f7;
    }
    
    /* .navbar-toggle {
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: 30px;
      width: 30px;
      position: relative;
    } */
    
    /* .navbar-toggle-icon {
      background-color: #51e417;
      display: block;
      height: 25px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
    } */
    
    .navbar-menu {
      background-color: #333;
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      width: 100%;
      height: 120%;
    }
    
    .navbar-item {
      margin: 0px;
      text-align: center;
      width: 100%;
    }
    
    .navbar-item a {
      color: #30a7f7;
      font-size: 18px;
      padding: 10px;
      /* text-decoration: none; */
      text-transform: uppercase;
      transition: all 1s ease-in-out;
    }
    
    @media screen and (max-width: 1000px) {

      body{
        
        background-image: url('/static/images/bg.jpg');
        background-position: center;
        background-size: cover;
      }
      .navbar-container {
        flex-direction: column;
        position: relative;
      }
      .card-1 img{
        width: 65px;
        height: 65px;
      }
    .card-2{
       /* width: 260px; */
      height: 105px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .card-2 img{
     position: relative;
     margin-top: 30px;
     right: 35px;
     width: 50px;
     height: 50px;
    }
    .navbar{
    z-index: 10;
  }
    .navbar-menu {
      display: flex;
      flex-direction: column;
    }
    
    .navbar-item {
      margin: 5px;
      width: 100%;
    }
    
    /* .navbar-toggle {
      display: block;
    } */
    
    .navbar-menu {
      display: none;
    }
    
    .navbar-menu.show {
      display: flex;
    }
    .popup {
      display: none;
      position: fixed;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
     
      background-color: rgba(0,0,0,0.6);
    }
    
    /* Popup content */
    .popup-content {
      text-align: center;
      color: rgb(20, 223, 81);
      background-color: #1a1717;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    
    .popup-content img{
    width: 65px;
        height: 65px;
    }
    .popup-content button{
    background-color: rgb(112, 230, 112);
    font-weight: bolder;
    
    }
    footer{
      margin-top: 10vh;
      text-align: center;
      background-color: #17171F;
      color: #E5E1E1;
      width: 100vw;
      height: 10vh;
      padding: 10px;
    }
    
    .card-1{
      background-color: aliceblue;
      margin: 13px;
      margin-top: 18px;
      border: 2px solid ;
      border-radius: 20%;
      text-align: center;
      font-weight: bolder;
      
    }
    .card-2{
      background-color: aliceblue;
      margin: 13px;
      margin-top: 18px;
      border: 2px solid ;
      border-radius: 20%;
      text-align: center;
      font-weight: bolder;
    }
    .video{
      color: aquamarine;
      
    }
    .yt-video{
      background: rgba(0, 0, 0, 0.8);
      
      border: 5px solid red;
      border-radius: 8px;
      text-align: center;
      box-sizing: border-box;
    }
    .button-area{
      margin-top: 8px;
      text-align: center;
      background:rgba(0, 0, 0, 0.7);
    }
    .button-area p{
      color: aquamarine;
    }
  }
}