@media screen and (max-width: 767px) {

    body{
      
        background-image: url('/static/images/bg.jpg');
        
    }
    h1{color: aquamarine;
        font-family: 'Poltawski Nowy', serif;
    }
    h4{
        color: red;
    }
}
@media screen and (min-width:767px){
    

    body{
  
        background-image: url('/static/images/bg1.jpg');
      
       
    }
    h1{color: aquamarine;
        font-family: 'Poltawski Nowy', serif;
    }
  h4{font-size: large       ;
      color: red;
  }}